body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin: 0;
  }
  h2 {
    color: #333;
    margin: 0;
    text-align: center;
  }
  
  .language {
    text-align: right;
    margin-top: 10px;
  }
  
  .language a {
    margin-left: 10px;
  }
  
  .user-buttons {
    text-align: right;
    margin-top: 10px;
  }
  
  .user-buttons div {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  .signup-button,
  .login-button {
    text-decoration: none;
    color: #333;
  }
  
  /* Filter Styles */
  .filter {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    text-transform: uppercase;
  }
  
  .filter-group {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .filter-group h3 {
    margin: 0;
    text-transform: uppercase;
  }
  
  .filter-group ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  
  .filter-group li {
    margin: 5px 0;
    text-transform: uppercase;
  }
  
  .filter-group button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Product Catalogue Styles */
  .product-catalogue {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  
  .product-item {
    display: inline-block;
    text-align: center;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    
  }
  
  .product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-item img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .product-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .product-item p {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .product-item .price {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .product-item .buy-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .product-item .buy-button:hover {
    background-color: #555;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col-md-4 {
    flex-basis: 30%;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .shop-map h3,
  .basic-info h3 {
    margin-top: 0;
    color: #f2f2f2;
  }
  
  .basic-info p {
    margin: 5px 0;
  }
  
  .donate-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .donate-button:hover {
    background-color: #555;
  }
  
  .basic-info img {
    width: 500px;
    height: 300px;
    margin-top: 10px;
  }
  
  .donate-container img {
    width: 80px;
    height: 60 px;
    margin-top: 10px;
  }
  
  .col-md-4 img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }

  
  .card-image img {
    margin-top: 20px;
    text-align: right;
    width: 200px;
    height: 300px;
  }
  

  
  